
@import url('./index.css');

form {
    display: flex;
    flex-direction: column;
    width: 20rem;
}

a:first-of-type {
    margin-bottom: 13px;
}

.buttons_section {
    display: flex;
    justify-content: space-between;
}
.buttons_section div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}