@import url('./index.css');

.step_container, .button_step_nav {
    padding: 10px;
}

.step_container {
    display: flex;
    flex-direction: column;
    min-height: 10rem;
}

.button_step_nav{
    display: flex;
    justify-content: space-between;
    align-items: end;
}
